.fullPageMenu-wrapper {
  position: fixed;
  z-index: 9999;
}

.fullPageMenu-wrapper #menu > div{
  display: inline-block;
}

.fullPageMenu-wrapper #menu a{

}

#fullpage {

}

#fullpage div.section{

}